fastapi
python-socketio[asyncio]
uvicorn
openai
python-dotenv
opencv-python
requests

python-dotenv
pydub
python-multipart
wavio
sounddevice

pydantic


databases
python-jose
passlib
python-dotenv
asyncpg
asyncio
psycopg2
google-cloud-texttospeech
httpcore
httpx

matplotlib

scipy

scikit-learn

aiohttp

asyncio

groq
elevenlabs
